<!--<div th:fragment="parent(content)" xmlns:th="http://www.w3.org/1999/xhtml" >-->

<!--&lt;!&ndash;        Fragment example<span data-th-text="${x}"></span>&ndash;&gt;-->

<!--        <div th:replace="${content}"></div>-->

<!--</div>-->



<!--learning purpose above-->

<!DOCTYPE html>
<html lang="en"
      class="dark"
      th:fragment="parent(content,title,script)"
      xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
        <title data-th-replace="${title}">Base page</title>
        <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
            <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>

</head>
<body class="dark:bg-gray-800 dark:text-white">

<!--commaon header-->
<div data-th-replace="~{navbar:: navbar}"></div>


<!--main content-->
<div class="p-4" >
<section data-th-replace="${content}"></section>
</div>
<!--common footer-->
<footer>KontactHub</footer>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script data-th-src="@{'/js/script.js'}"></script>
<th:block data-th-replace="${script}"></th:block>
</body>


</html>
